@import url("./reset.css");

body {
  background-color: #ffffec; /* 背景色を薄いグレーに変更 */
}
header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
.profile {
  background-color: #ffffec;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 8%;
}
.menubuttonicon {
  width: 55px;
  height: 55px;
  padding-top: 30px;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;
}
.header_left {
  display: none;
}
.titlename {
  display: flex; /* フレックスボックスに設定 */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;
  flex-direction: column;
  margin-left: 15vw;
}
.haru {
  font-family: "Lexend Giga", serif;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  color: #fb8e00;
}
.fujihara {
  font-family: "Lexend Giga", serif;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  color: #fb8e00;
}
.header_right {
  display: flex;
  gap: 65px;
  justify-content: space-around;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;
}
.snsicon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.picturepart {
  display: flex; /* flexboxを使用 */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;
  margin-top: 170px;
}
.toppicture {
  width: 90%; /* 親要素の幅の80%に設定 */
  max-width: 100%; /* 画像が親要素より大きくならないように設定 */
  height: 600px; /*
  object-fit: cover; /* 画像が楕円の枠に収まるように調整 */
  border-radius: 900px;
}
.information a:hover {
  color: #25ceff;
}
.button_right {
  padding: 10px 20px;
  font-family: "Kaisei Decol", serif;
  font-weight: 15px;
  font-size: 20px;
}
h3 {
  letter-spacing: 1px;
}
.sns {
  display: flex;
}
.snsicon:hover img {
  opacity: 0.6;
}
.title {
  margin-top: 50px;
  display: flex; /* フレックスボックスに設定 */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;
  flex-direction: column;
}

.toptitle {
  font-family: "Lexend Giga", serif;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  color: #fb8e00;
  display: flex; /* Flexboxを有効にする */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center;
}
.selfintroduction {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
  margin: 0 5%;
}
.selfphotoimg {
  padding-top: 60px;
}
.selfphoto {
  width: 300px;
  height: 300px;
  border-radius: 10px; /* 角を丸くする */
  object-fit: cover;
}
.aboutme {
  padding-left: 2%;
}
.namepart {
  padding-left: 3%;
}
.fujiharahiragana {
  font-size: 20px;
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: bold;
}
.fujiharakanji {
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 50px;
  color: #3f3f3f;
}
.myself {
  padding-top: 2%;
  font-family: "Zen Kaku Gothic New", serif;
  font-size: 20px;
  width: 630px;
}

.outer {
  padding-top: 50px;
}
.music-top {
  display: flex;
}
.rightset_snsicon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 90px;
}
.rightset_snsicon img:hover {
  opacity: 0.5; /* 透明度を50%に設定 */
}
.pentas_sns {
  display: flex;
  margin-left: auto;
  margin-top: 20px;
  gap: 20px;
}
.pentas_instagram {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.pentas_youtube {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.pentas_youtube img:hover {
  opacity: 0.5; /* 透明度を50%に設定 */
}
.pentas_instagram img:hover {
  opacity: 0.5; /* 透明度を50%に設定 */
}

.music {
  margin-top: 3%;
}
.fullmusicbox {
  width: 100%;
  margin-top: 4%;
  padding: 0 12% 0 12%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
}
.musicbox1 {
  display: flex; /* 親要素をフレックスコンテナに */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.musicbox2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.musicbox_orange {
  width: 324px;
  height: 436px;
  border-radius: 30px;
  background-color: #fb8e00;
  display: flex; /* 親要素をフレックスコンテナに */
  flex-direction: column;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center;
}
.musicbox_blue {
  width: 324px;
  height: 436px;
  border-radius: 30px;
  background-color: #5189aa;
  display: flex; /* 親要素をフレックスコンテナに */
  flex-direction: column;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center;
}
.backwhite {
  width: 307px;
  height: 213px;
  border-radius: 10px;
  background-color: #ffffec;
  display: flex; /* 親要素をフレックスコンテナに */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center;
}
.backwhite_amaizukin {
  width: 307px;
  height: 213px;
  border-radius: 10px;
  background-color: #ffffec;
  display: flex; /* 親要素をフレックスコンテナに */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center;
  margin-top: 8px;
}
.musicpicture_itself {
  padding-top: 5px;
  border-radius: 10px;
  width: 288px;
  height: 198px;
  object-fit: cover;
}
.musictitle {
  font-family: "Zen Kaku Gothic New", serif;
  font-size: 33px;
  font-weight: 700;
  color: #ffffec;
}
.musictitle_midium {
  font-family: "Zen Kaku Gothic New", serif;
  font-size: 28px;
  font-weight: 700;
  color: #ffffec;
}
.musicexplain {
  padding: 0px 22px;
}
.musicexplain_pentas {
  padding: 0px 22px 40px 22px;
}
.musicsub {
  font-size: 25px;
  color: #ffffec;
  font-family: "Zen Kaku Gothic New", serif;
}
.musicdetail {
  font-size: 16px;
  color: #ffffec;
  font-family: "Zen Kaku Gothic New", serif;
}
.musicmidium {
  padding-top: 5%;
  font-size: 22px;
  color: #ffffec;
  font-family: "Zen Kaku Gothic New", serif;
}
.whitesquare {
  width: 7px;
  height: 61px;
  margin-top: 5%;
  background-color: #ffffec;
}
.favoriteartistpart {
  display: flex;
}
.favoriteartist_sentence {
  padding-left: 15%;
}
.fotter {
  margin-top: 60px;
  height: 60px;
  background-color: #fb8e00;
}
.fottersentence {
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: lighter;
  font-style: normal;
  color: #ffffec;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .selfintroduction {
    flex-direction: column; /* 横並びから縦並びに変更 */
    align-items: center; /* アイテムを中央に寄せる */
  }
}
